apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: jellyseerr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyseerr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyseerr
    spec:
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyseerr-config
      containers:
        - name: jellyseerr
          image: "fallenbagel/jellyseerr"
          volumeMounts:
            - name: config
              mountPath: /app/config
          ports:
            - name: http
              containerPort: 5055
              protocol: TCP
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"