apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: jellyseerr-service
  name: jellyseerr
  namespace: jellyfin
spec:
  ports:
  - name: http
    port: 5055
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/name: jellyseerr
  type: ClusterIP