apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: bazarr-service
  name: bazarr
  namespace: jellyfin
spec:
  ports:
  - name: http
    port: 6767
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/name: bazarr
  type: ClusterIP