apiVersion: v1
kind: PersistentVolume
metadata:
  name: config-backups-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: {{ nas_ip }}
    path: /volume1/Backups/config-backups