apiVersion: batch/v1
kind: CronJob
metadata:
  name: prowlarr-backup-cron
  namespace: jellyfin
spec:
  schedule: "{{ config_backup_cron }}"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: prowlarr-backup
              image: alpine:latest
              command:
                - /bin/sh
                - -c
                - |
                  mkdir -p /dest/prowlarr/
                  [ -d "/source/Backups/scheduled" ] && cp -TR /source/Backups/scheduled/ /dest/prowlarr/scheduled/
                  [ -d "/source/Backups/manual" ] && cp -TR /source/Backups/manual/ /dest/prowlarr/manual/

              volumeMounts:
                - name: source
                  mountPath: /source
                  readOnly: true
                - name: dest
                  mountPath: /dest

          volumes:
            - name: source
              persistentVolumeClaim:
                claimName: prowlarr-config
            - name: dest
              persistentVolumeClaim:
                claimName: media-config-backups-pvc

