apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: jellyfin
  labels:
    app.kubernetes.io/name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-config
        - name: library
          persistentVolumeClaim:
            claimName: media-library-pvc
      containers:
        - name: prowlarr
          image: "linuxserver/prowlarr"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: library
              mountPath: /library
          ports:
            - name: http
              containerPort: 9696
              protocol: TCP
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"