replicaCount: 1

image:
  pullPolicy: IfNotPresent

persistence:
  config:
    enabled: true
    size: 5Gi
    storageClass: ''
  library:
    enabled: true
    existingClaim: 'media-library-pvc'

ingress:
  enabled: true
  className: 'traefik'
  annotations:
    cert-manager.io/cluster-issuer: {{ issuer }}
  tls:
  - hosts:
      - {{ base_url }}
    secretName: jellyfin-web-cert
  hosts:
    - host: {{ base_url }}
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 2000m
    memory: 4Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}
tolerations: []
affinity: {}