apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-config-backups-pvc
  namespace: jellyfin
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 20Gi
  volumeName: "config-backups-pv"